@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {

  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  background: #F2F2F2;
}

img {
  width: 100%;
}


/*    navbar*/

.navbar .container img {
  width: 70px;
  display: block;
  float: left;
  margin: 0px 0px 0px 0px;

}


ul li a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.5;
  color: #F2F2F2;
  font-weight: 500;
  word-spacing: 0.25em;
  padding: 10px;
  margin: 0 25px;
}

ul {

  display: flex;
  list-style-type: none;
  float: right;
  margin-top: 30px;
  margin-right: 10%;

}

.container {
  margin: auto;
  max-width: 1300px;
  padding: 0 60px;
}


.navbar {
  background-color: #8C0335;
  height: 90px;
  padding: 0 10px;
}

.navbar a:hover {
  border-bottom: 2px solid #F2F2F2;
}

/*   registro y clima*/
#registro {
  height: 100%;
  margin: 100px 100 100 100;
  height: 50vh;
}

.contenedor-form {
  float: right;
  height: 100%;
  width: 50%;
  position: relative;
}

.form-titulo {
  top: 30px;
  left: 50px;
  position: absolute;
}

.form-titulo h2 {
  font-weight: 400;
  font-size: 25px;
}

#formulario {
  margin-top: 150px;
  margin-left: 150px;
  float: inherit;
  position: absolute;

}

.form-control {
  margin-bottom: 15px;
  width: 320px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background: #e9e8e8;
  font-size: 16px;
  padding: 0 20px;
}

.btn-light {
  display: block;
  margin-top: 30px;
  padding: 0px 30px;
  width: 320px;
  height: 40px;
  font-size: 15px;
  font-weight: lighter;
  cursor: pointer;
  border-radius: 30px;
  color: #FFF8F0;
  letter-spacing: 1.5px;
  background-color: #8C0335;
  border: none;
}

.btn-light:hover {

  box-shadow: 0 15px 10px 1px rgba(0, 0, 0, 0.45);
}

/* clima*/

.contenedor-clima p {

  font-weight: 500;
  font-size: 25px;
  margin-left: 250px;
  margin-top: 20px;
}

.contenedor-clima {
  margin: 70px 0;
  float: left;
  width: 40%;
  height: 100%;
  box-shadow: rgba(136, 165, 191, 0.48) 10px 0px 10px 0px;
}









/* ---------home-------- */

#home {
  margin: 100px 100 100 100;
  height: 100vh;
  background-image: url("../img/winef.jpg");
  background-size: 100%;
}

h1 {
  margin: 100px 0 0 0;
  font-size: 90px;
  font-weight: 800;
  text-transform: uppercase;
  color: #FFF8F0;
}

.sub-titulo-home {
  color: #FFF8F0;
}

.imagen-home {
  float: right;
  width: 50%;
}

.titulo-home {
  float: left;
  width: 50%;
  padding: 250px 20px 20px 40px;
}

/* ---------video-------- */
#evento {
  padding-top: 100px;
  margin: 100px 100 100 100;
  height: 100vh;

}

.contenedor-subtitulo {
  width: 50%;
  padding: 250px 20px 20px 40px;
  float: right;

}

.contenedor-video {
  width: 50%;
  float: left;
  padding: 20px 20px 20px 10px;


}

/* ---------nosotros-------- */
#nosotros {
  margin: 100px 100 100 100;
  height: 100vh;
}

.titulo-nosotros {
  width: 50%;
  padding: 170px 20px 20px 40px;
  float: left;
}

.imagen-nosotros {
  width: 50%;
  float: right;
  padding: 20px 20px 20px 40px;


}

/* ------------------------- */

/*       Footer                 */

footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  background-color: #D92958;
  padding: 15px;
  width: 100%;
  height: 70px;
  color: #FFF8F0;
  margin-top: auto;
}

img.red {
  width: 20%;
  height: 20%;
  float: left;
}

a.link-icon {
  float: right;
  color: #FFF8F0;
}